<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Music Downloader</title>
      <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div class="login-page">
  <div class="form">
    <form class="login-form">
      <input type="text" placeholder="Song..."/>
    </form>
  </div>
</div>

</body>
</html>
