<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Music Downloader</title>
      <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div class="login-page">
  <div class="form">
    <form class="login-form" action="">
      <input type="text" placeholder="Song..." id="song" />
    </form>
  </div>
</div>

</body>
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script src="js/main.js"></script>


</html>
